.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-top: #4169E1;
}

.cell {
    flex: 1;
    text-align: center;

}

.row_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background: #4169E1;
    border-radius: 20px 20px 0 0;
    color: #ffffff;
    font-weight: bold;
}